.App{
  background: url("C:\Users\varsh\Desktop\tic-tac-toe-react\background-app.jpg");
  background-color: #52b2bf;
  background-size: cover;
  height: 100vh;
  
  
}
h1{
  color: white;
  background-color: #52b2bf;
  border-radius: 10px;
  border: 2px solid white;
  padding : 8px;

}
h2{
  color: white;
}

.group{
  background-color: rgb(6, 29, 49);
  width: 16rem;
  margin: auto;
  height: 90vh;
  border-radius: 10px;
 
}
.container {
 
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh; /* Optional: for full-screen centering */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 

}

.container > div {
  display: flex;
  justify-content: center;
}
.btn{
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover{
  border: 2.5px solid #29e8fd;
}


.reset button{
  width: 7.0rem;
  height: 3.0rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #52b2bf;
  font-weight: bold;
  transition: transform 0.5 ease-in-out;
  cursor: pointer;

}
.reset button:hover{
 transform: translateY(-5px);
}

.reset{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  
}
p{ 
 
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  color: white;
}



